@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center w-50 h-50 align-middle">
    <img src="img/imageFons.png" class="rounded img-fluid"/>
    <p class="col">EcoEnergy Solutions</p>
</div>
